@import "tailwindcss";

@theme inline {
  --color-surface-dim: #111416;
  --color-surface-container-high: #272a2c;
  --color-on-error: #690005;
  --color-secondary-fixed: #e2e2e5;
  --color-primary-fixed: #90f1ff;
  --color-on-primary-fixed-variant: #004f57;
  --color-tertiary-container: #ca7f41;
  --color-surface-tint: #23daed;
  --color-inverse-on-surface: #2e3133;
  --color-tertiary-fixed-dim: #ffb780;
  --color-on-tertiary-container: #442000;
  --color-secondary-container: #454749;
  --color-on-error-container: #ffdad6;
  --color-primary: #23daed;
  --color-surface-container: #1d2022;
  --color-tertiary: #ffb780;
  --color-on-primary-fixed: #001f23;
  --color-on-secondary-fixed: #1a1c1e;
  --color-on-primary-container: #002f34;
  --color-outline: #879395;
  --color-secondary: #c6c6c9;
  --color-surface-variant: #323537;
  --color-on-secondary-container: #b4b5b7;
  --color-on-secondary-fixed-variant: #454749;
  --color-surface-container-lowest: #0c0f11;
  --color-on-secondary: #2f3133;
  --color-surface-container-highest: #323537;
  --color-tertiary-fixed: #ffdcc4;
  --color-inverse-primary: #006973;
  --color-on-tertiary-fixed-variant: #6f3800;
  --color-surface: #111416;
  --color-primary-container: #00a0ae;
  --color-on-primary: #00363c;
  --color-on-surface-variant: #bdc9cb;
  --color-outline-variant: #3e494b;
  --color-surface-bright: #37393c;
  --color-on-tertiary-fixed: #2f1400;
  --color-on-background: #e1e2e5;
  --color-error-container: #93000a;
  --color-on-surface: #e1e2e5;
  --color-on-tertiary: #4e2600;
  --color-error: #ffb4ab;
  --color-primary-fixed-dim: #23daed;
  --color-background: #111416;
  --color-inverse-surface: #e1e2e5;
  --color-surface-container-low: #191c1e;
  --color-secondary-fixed-dim: #c6c6c9;
  --font-headline: var(--font-space-grotesk);
  --font-body: var(--font-manrope);
  --font-label: var(--font-manrope);
}

:root {
  --background: #111416;
  --foreground: #e1e2e5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.glass-card {
  background: rgba(50, 53, 55, 0.4);
  backdrop-filter: blur(12px);
}

.tonal-transition-no-borders {
  border: none;
}

.glass-panel {
  background: rgba(50, 53, 55, 0.6);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.primary-gradient {
  background: linear-gradient(135deg, var(--color-primary), var(--color-primary-container));
}